In [4]:
import io
import requests
import pandas as pd

# Getting the dataset
url = "https://raw.githubusercontent.com/Syukrondzeko/Fellowship/main/Seasons_Stats.csv"
dataset = requests.get(url).content
df = pd.read_csv(io.StringIO(dataset.decode('utf-8')))

In [5]:
df.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [6]:
# Selecting stats in year 2017 only
df = df.loc[df["Year"] == 2017].reset_index()
df = df.drop(labels=["index", "Unnamed: 0"], axis=1)
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,...,0.750,20.0,95.0,115.0,18.0,14.0,15.0,21.0,67.0,222.0
2,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,...,0.667,2.0,6.0,8.0,0.0,0.0,0.0,2.0,9.0,13.0
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0

In [11]:
# Drop duplicate players, keeping last entry
df = df.drop_duplicates(subset=['Player'], keep='last', ignore_index=True)
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0
1,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,0.754,18.0,89.0,107.0,18.0,14.0,15.0,19.0,58.0,209.0
2,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,0.611,282.0,333.0,615.0,86.0,88.0,78.0,146.0,195.0,905.0
3,2017.0,Arron Afflalo,SG,31.0,SAC,61.0,45.0,1580.0,9.0,0.559,...,0.892,9.0,116.0,125.0,78.0,21.0,7.0,42.0,104.0,515.0
4,2017.0,Alexis Ajinca,C,28.0,NOP,39.0,15.0,584.0,12.9,0.529,...,0.725,46.0,131.0,177.0,12.0,20.0,22.0,31.0,77.0,207.0

In [14]:
# Find out number of missing values in each columns
print(df.isnull().sum())

Year        0
Player      0
Pos         0
Age         0
Tm          0
G           0
GS          0
MP          0
PER         0
TS%         2
3PAr        2
FTr         2
ORB%        0
DRB%        0
TRB%        0
AST%        0
STL%        0
BLK%        0
TOV%        2
USG%        0
blanl     486
OWS         0
DWS         0
WS          0
WS/48       0
blank2    486
OBPM        0
DBPM        0
BPM         0
VORP        0
FG          0
FGA         0
FG%         2
3P          0
3PA         0
3P%        39
2P          0
2PA         0
2P%         4
eFG%        2
FT          0
FTA         0
FT%        18
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
dtype: int64

In [15]:
# Drop columns blanl and blank2 since they have no entries
df = df.drop(labels=["blanl", "blank2"], axis=1)

# Fill missing values with 0
df = df.fillna(0)

print(df.isnull().sum())

Year      0
Player    0
Pos       0
Age       0
Tm        0
G         0
GS        0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
2P        0
2PA       0
2P%       0
eFG%      0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
dtype: int64

# 1. Youngest and oldest player in each team

In [16]:
youngest = df.groupby('Tm')[["Player", "Age"]].min()
oldest = df.groupby('Tm')[["Player", "Age"]].max()

In [17]:
youngest

               Player   Age
Tm
ATL   DeAndre' Bembry  22.0
BOS        Al Horford  20.0
BRK  Andrew Nicholson  21.0
CHI    Anthony Morrow  21.0
CHO    Aaron Harrison  21.0
CLE      Andrew Bogut  21.0
DAL      A.J. Hammons  21.0
DEN        Alonzo Gee  19.0
DET    Andre Drummond  20.0
GSW  Anderson Varejao  20.0
HOU       Bobby Brown  20.0
IND      Aaron Brooks  20.0
LAC     Alan Anderson  19.0
LAL    Brandon Ingram  19.0
MEM   Andrew Harrison  20.0
MIA      Dion Waiters  20.0
MIL       Gary Payton  19.0
MIN     Adreian Payne  20.0
NOP     Alexis Ajinca  20.0
NYK   Carmelo Anthony  21.0
OKC      Alex Abrines  20.0
ORL      Aaron Gordon  20.0
PHI    Alex Poythress  21.0
PHO     Alan Williams  19.0
POR   Al-Farouq Aminu  21.0
SAC  Anthony Tolliver  19.0
SAS       Bryn Forbes  20.0
TOR     Bruno Caboclo  21.0
UTA        Alec Burks  21.0
WAS  Bojan Bogdanovic  21.0

In [18]:
oldest

                      Player   Age
Tm
ATL             Tim Hardaway  36.0
BOS             Tyler Zeller  31.0
BRK            Trevor Booker  36.0
CHI              Robin Lopez  35.0
CHO           Treveon Graham  31.0
CLE         Tristan Thompson  38.0
DAL             Yogi Ferrell  38.0
DEN          Wilson Chandler  36.0
DET            Tobias Harris  34.0
GSW            Zaza Pachulia  36.0
HOU            Troy Williams  34.0
IND           Thaddeus Young  32.0
LAC           Wesley Johnson  39.0
LAL              Tyler Ennis  37.0
MEM            Zach Randolph  40.0
MIA              Willie Reed  36.0
MIL               Tony Snell  39.0
MIN              Zach LaVine  34.0
NOP              Tim Frazier  33.0
NYK        Willy Hernangomez  32.0
OKC           Victor Oladipo  36.0
ORL            Terrence Ross  32.0
PHI  Timothe Luwawu-Cabarrot  32.0
PHO           Tyson Chandler  34.0
POR           Tim Quarterman  28.0
SAC      Willie Cauley-Stein  31.0
SAS              Tony Parker  39.0
TOR              Serge Ibaka  31.0
UTA               Trey Lyles  35.0
WAS               Trey Burke  32.0

# 2. Players with most minutes played in each position

In [19]:
most_minutes = df.groupby("Pos")[["Player", "MP"]].max()
most_minutes

              Player      MP
Pos
C      Zaza Pachulia  3030.0
PF     Zach Randolph  2803.0
PG      Yogi Ferrell  2947.0
SF   Wilson Chandler  3048.0
SG       Zach LaVine  2796.0

# 3. Team with the highest average total rebound percentage (TRB%), assist percentage (AST%), steal percentage (STL%), and block percentage (BLK%)

In [20]:
criterias = ["TRB%", "AST%", "BLK%", "STL%"]
def highest_average(criteria):
    df_highest_average = df.groupby(["Tm"])[["Tm", criteria]].mean().sort_values(by=criteria, ascending=False).head(1)
    print(df_highest_average)
        
for criteria in criterias:
    highest_average(criteria)

          TRB%
Tm
WAS  12.735294
          AST%
Tm
DEN  15.723529
         BLK%
Tm
MIL  2.741176
         STL%
Tm
MIN  2.413333

# 4. The best player in NBA

In [22]:
# I will be using all columns that describe players' percentage
# since those columns take minutes played as consideration
percent_cols = [col for col in df.columns if '%' in col]
print(percent_cols)

['TS%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'FG%', '3P%', '2P%', 'eFG%', 'FT%']

In [23]:
df4 = df[['Player', 'Tm', 'TS%', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%', 'FG%', '3P%', '2P%', 'eFG%', 'FT%']]

In [26]:
df4["overal_pct"] = df4.mean(axis=1)
df4

C:\Users\asus\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Player,Tm,TS%,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,FG%,3P%,2P%,eFG%,FT%,overal_pct
0,Alex Abrines,OKC,0.560,1.9,7.1,4.5,5.5,1.7,0.6,8.3,15.9,0.393,0.381,0.426,0.531,0.898,3.477786
1,Quincy Acy,BRK,0.587,3.8,18.2,11.1,5.4,1.3,2.2,9.6,16.5,0.425,0.434,0.414,0.542,0.754,5.089714
2,Steven Adams,OKC,0.589,13.0,15.5,14.2,5.4,1.8,2.6,16.0,16.2,0.571,0.000,0.572,0.571,0.611,6.258143
3,Arron Afflalo,SAC,0.559,0.7,8.4,4.6,7.4,0.7,0.4,8.4,14.4,0.440,0.411,0.457,0.514,0.892,3.448071
4,Alexis Ajinca,NOP,0.529,8.3,23.8,16.0,3.1,1.7,3.1,13.7,17.2,0.500,0.000,0.511,0.500,0.725,6.404643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Cody Zeller,CHO,0.604,8.6,17.3,12.9,9.1,1.8,3.0,10.9,15.5,0.571,0.000,0.572,0.571,0.679,5.864071
482,Tyler Zeller,BOS,0.508,9.2,17.0,13.2,12.2,0.7,3.3,10.2,16.5,0.494,0.000,0.497,0.494,0.564,6.061214
483,Stephen Zimmerman,ORL,0.346,10.8,24.9,17.6,5.3,0.9,3.7,8.3,14.8,0.323,0.000,0.323,0.323,0.600,6.301071
484,Paul Zipser,CHI,0.503,1.9,14.2,8.0,6.1,0.9,1.5,14.4,14.4,0.398,0.333,0.451,0.473,0.775,4.595214
485,Ivica Zubac,LAL,0.547,7.1,21.9,14.3,8.1,1.1,4.4,10.4,20.3,0.529,0.000,0.536,0.529,0.653,6.456714

In [29]:
best_player = df4[df4["overal_pct"] == df4["overal_pct"].max()]
best_player

,Player,Tm,TS%,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,FG%,3P%,2P%,eFG%,FT%,overal_pct
457,Russell Westbrook,OKC,0.554,5.4,28.8,17.1,57.3,2.3,0.9,15.9,41.7,0.425,0.343,0.459,0.476,0.845,12.321571

# 5. The Best Team in NBA

In [31]:
# The metrics I will use will be the same as number 4
df5 = df4.groupby("Tm").mean()

In [32]:
df5[df5["overal_pct"] == df5["overal_pct"].max()]

,TS%,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,FG%,3P%,2P%,eFG%,FT%,overal_pct
Tm,,,,,,,,,,,,,,,
PHI,0.53625,6.34375,15.325,10.81875,14.75,1.325,1.74375,14.9375,21.3625,0.445063,0.309625,0.499625,0.498125,0.721813,6.401196